<div notification></div>

<section id="login" ng-if="!user.username">
  <form>
    <input placeholder="Username" type="text" ng-model="loginForm.username"><br>
    <input placeholder="Password" type="password" ng-model="loginForm.password"><br>
    <p class="error" ng-if="loginError">Your username/password combination were not recognized.</p>
    <button ng-click="login(loginForm.username, loginForm.password)" class="primary">Login</button>
  </form>
</section>

<section id="admin" ng-if="user.username">
  <h2>Welcome, {{user.username}}!</h2>
  <button id="logout" ng-click="logout()" class="primary">Logout</button>


  <section id="streamConfiguration">
    <h3>
      Stream Configuration
      <i class="fa fa-cloud-upload right" ng-click="importPlaylist()" title="Import playlist"></i>
      <i class="fa fa-cloud-download right" ng-click="exportPlaylist()" title="Export playlist"></i>
      <i class="fa fa-random right" ng-click="randomizePlaylist()" title="Randomize playlist"></i>
    </h3>
    <ul>
      <li ng-repeat="playlistItem in configuration.stream">
        <h4 ng-click="playlistItem._selected = !playlistItem._selected">
          <i ng-class="{fa: true, 'fa-minus-square': playlistItem._selected, 'fa-plus-square': !playlistItem._selected}"></i>
          {{playlistItem.name}} ({{playlistItem.type}})
          <i class="fa fa-times-circle-o right" ng-click="$event.stopPropagation(); removePlaylistItem(playlistItem)" title="Remove"></i>
          <i class="fa fa-arrow-circle-up right" ng-hide="$first" ng-click="$event.stopPropagation(); movePlaylistItem(playlistItem, $index - 1)" title="Move up"></i>
          <i class="fa fa-arrow-circle-down right" ng-hide="$last" ng-click="$event.stopPropagation(); movePlaylistItem(playlistItem, $index + 1)" title="Move down"></i>
        </h4>
        <div ng-if="playlistItem._selected">
          <p>Presets:
            <select ng-options="p._presetName for p in presets" ng-model="newConfiguration" ng-change="copyConfiguration(playlistItem, newConfiguration)">
              <option value="">----------------</option>
            </select>
          </p>

          <label for="streamName">Name: </label><input id="streamName" type="text" ng-model="playlistItem.name"><br>
          <label ng-switch="playlistItem.type" for="streamLocation">
            <span ng-switch-when="youtube">Video ID:</span>
            <span ng-switch-when="youtube-live">Video ID:</span>
            <span ng-switch-default>Channel:</span>
          </label><input id="streamLocation" type="text" ng-model="playlistItem.location"><br>
          <label for="streamType">Type: </label><select id="streamType" ng-options="type as type for type in streamTypes" ng-model="playlistItem.type"></select><br>
          <label for="streamWidth">Width: </label><input id="streamWidth" type="number" ng-model="playlistItem.width"><br>
          <label for="streamHeight">Height: </label><input id="streamHeight" type="number" ng-model="playlistItem.height"><br>
          <div ng-if="playlistItem.type == 'youtube'">
            <label for="streamStart">Start at (sec): </label><input id="streamStart" type="number" ng-model="playlistItem.start"><br>
          </div>
          <label for="streamStop">Play for (sec): </label><input id="streamStop" type="number" ng-model="playlistItem.stop"><br>
          <small>Note: If you do not specify a value for "Play for", this item will play forever</small>
        </div>
      </li>
      <li ng-click="newPlaylistItem()">
        <h4><i class="fa fa-plus-circle"></i> Add new item</h4>
      </li>
    </ul>
  </section>

  <section id="chatConfiguration">
    <h3>Chat Configuration</h3>
    <label for="chatServer">Server: </label><input id="chatServer" type="text" ng-model="configuration.chat.server"><br>
    <label for="chatPort">Port: </label><input id="chatPort" type="number" ng-model="configuration.chat.port"><br>
    <label for="chatChannel">Channel: </label><input id="chatChannel" type="text" ng-model="configuration.chat.channel"><br>
  </section>

  <section id="miscConfiguration">
    <h3>Miscellaneous Configuration</h3>
    <label for="strawPollId">Straw Poll ID: </label><input id="strawPollId" type="text" ng-model="configuration.strawPollId"><br>
  </section>
  <div class="clearfix"></div>
  <p>
    <input type="checkbox" ng-model="configuration.quiet" id="quiet"> <label for="quiet">Perform update of existing playlist only</label><br>
    <small>By default, saving new configuration values will reset the playlist, causing all users to go to the first playlist item. If you check this box, the playlist will be updated, and the users will stay where they are in the playlist or switch to a new playlist item if appropriate in the timeline.</small>
  </p>
  <p>
    <br><br>
    <p class="error" ng-if="applyConfigurationError">There was an error applying configuration. Please check your data and try again.</p>
    <p ng-if="applyConfigurationError === false">Configuration has been updated!</p>
    <p><button id="apply" ng-click="applyConfiguration(configuration)" class="primary">Apply Configuration</button></p>
  </p>
</section>
