<section id="stream">
  <div ng-attr-style="width: {{playlistItem.width}}px; height: {{playlistItem.height}}px" ng-switch="playlistItem.type">
    <object ng-switch-when="justintv" type="application/x-shockwave-flash" ng-attr-data="{{getStreamLocation(playlistItem)}}" ng-attr-height="{{playlistItem.height}}" ng-attr-width="{{playlistItem.width}}" bgcolor="#000000">
      <param name="allowFullScreen" value="true"/>
      <param name="allowScriptAccess" value="always" />
      <param name="allowNetworking" value="all" />
      <param name="movie" value="http://www.justin.tv/swflibs/JustinPlayer.swf" />
      <param name="flashvars" ng-attr-value="hostname=www.justin.tv&channel={{playlistItem.location}}&auto_play=true&start_volume=25" />
    </object>
    <object ng-switch-when="twitch" type="application/x-shockwave-flash" ng-attr-data="{{getStreamLocation(playlistItem)}}" ng-attr-height="{{playlistItem.height}}" ng-attr-width="{{playlistItem.width}}" >
      <param name="allowFullScreen" value="true" />
      <param name="allowScriptAccess" value="always" />
      <param name="allowNetworking" value="all" />
      <param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
      <param name="flashvars" ng-attr-value="hostname=www.twitch.tv&channel={{playlistItem.location}}&auto_play=true&start_volume=25" />
    </object>
    <!-- Yes, I know these are exactly the same... -->
    <iframe ng-switch-when="youtube" ng-src="{{getStreamLocation(playlistItem)}}" ng-attr-height="{{playlistItem.height}}" ng-attr-width="{{playlistItem.width}}" frameborder="0" allowfullscreen></iframe>
    <iframe ng-switch-when="youtube-live" ng-src="{{getStreamLocation(playlistItem)}}" ng-attr-height="{{playlistItem.height}}" ng-attr-width="{{playlistItem.width}}" frameborder="0" allowfullscreen></iframe>
    <iframe ng-switch-when="ustream" ng-src="{{getStreamLocation(playlistItem)}}" ng-attr-height="{{playlistItem.height}}" ng-attr-width="{{playlistItem.width}}" frameborder="0" allowfullscreen></iframe>
    <iframe ng-switch-when="dailymotion" ng-src="{{getStreamLocation(playlistItem)}}" ng-attr-height="{{playlistItem.height}}" ng-attr-width="{{playlistItem.width}}" frameborder="0" allowfullscreen></iframe>
    <iframe ng-switch-when="metacdn" ng-src="{{getStreamLocation(playlistItem)}}" ng-attr-height="{{playlistItem.height}}" ng-attr-width="{{playlistItem.width}}" frameborder="0" allowfullscreen></iframe>
    <video ng-switch-default ng-attr-height="{{playlistItem.height}}" ng-attr-width="{{playlistItem.width}}" ng-src="{{getStreamLocation(playlistItem)}}"></video>
  </div>
</section>

<section id="interaction">
  <div id="poll" ng-if="configuration.strawPollId">
    <iframe ng-src="{{'http://strawpoll.me/embed_2/' + configuration.strawPollId}}">Loading poll...</iframe>
  </div>

  <div id="irc" dc-popout="'/chat'">
    <iframe ng-src="{{ getChatLocation(configuration) }}"></iframe>
  </div>

  <div class="clearfix"></div>
</section>

