*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

 iframe {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
 }

body {
  background-color: rgb(233, 233, 233);
  font-family: 'Oswald', sans-serif;
}

header, footer,
header::after, footer::after {
  background-color: rgb(22, 22, 22);
  border-style: solid;
  border-color: rgb(83, 83, 83);
  border-width: 0px;
}

header::after,
footer::after {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  display: inline-block;
  width: 100%;
  z-index: -1;
}

header::after {
  top: 0px;
  height: 60px;
  border-bottom-width: 1px;
}

footer::after {
  height: 30px;
  border-top-width: 1px;
  margin-top: -1px;
}

header {
  width: 1200px;
  height: 60px;
  margin: auto;
  background-image: url('/img/logo.png');
  background-repeat: no-repeat;
  background-position: 5px 5px;
  padding: 5px;
  border-bottom-width: 1px;
}

footer {
  width: 1200px;
  height: 30px;
  margin: auto;
  color: white;
  text-align: right;
  border-top-width: 1px;
  line-height: 30px;
}

footer::before {
  content: '';
  height: 41px;
  width: 63px;
  background-image: url('/img/footer-diamond.png');
  float: right;
  margin-top: -12px;
  margin-left: 10px;
}

main section {
  position: relative;
}

#stream {
  background-image: url('/img/bg.jpg');
  width: 100%;
  padding: 20px 0px;
}

#stream > div {
  margin: auto;
}

#interaction {
  width: 1080px;
  margin: auto;
}

#irc {
  width: 1080px;
  height: 580px;
  border: 1px solid rgb(191, 195, 198);
  position: relative;
  margin: 30px 0px;
}

#irc div {
  width: 100%;
  height: 100%;
}

#poll + #irc {
  width: 700px;
  margin-right: 30px;
  float: right;
}

#poll {
  width: 340px;
  height: 370px;
  margin: 30px 0px;
  float: right;
  border: 1px solid rgb(191, 195, 198);
}

.popout {
  position: absolute;
  right: 0px;
  line-height: .5em;
  font-size: 1.5em;
  color: black;
}

.popout:hover {
  color: #44AFDB;
}


#login {
  width: 250px;
  min-height: 150px;
  background-color: rgb(252, 252, 252);
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 300px;
  left: 50%;
  margin-left: -125px;
}

#login input {
  width: 100%;
}

#admin {
  font-family: sans-serif;
  margin: 50px auto;
  width: 1200px;
  min-height: 500px;
  background-color: rgb(252, 252, 252);
  padding: 30px;
  position: relative;
}

#admin section {
  float: left;
  width: 33%;
  text-align: center;
}

#admin section h4 {
  text-align: left;
  margin-left: 20px;
  cursor: pointer;
}

#admin section h4 .fa-times-circle-o:hover {
  color: red;
}

#admin section h4 .ng-hide {
  display: block !important;
  visibility: hidden;
}

#admin section ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#admin section input,
#admin section select {
  width: 150px;
}

#admin section label {
  font-size: small;
  width: 115px;
  display: inline-block;
  line-height: 36px;
  text-align: right;
  padding-right: 10px;
}

#admin #logout {
  position: absolute;
  top: 25px;
  right: 25px;
}

input {
  border: 1px solid transparent;
  padding: 8px;
  margin-bottom: 5px;
}

input:focus {
  border: 1px solid #44AFDB;
  box-shadow: 0px 0px 5px 1px #44AFDB;
  outline: none;
}

button {
  background-color: #999;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 1.2em;
}

button:hover {
  background-color: #AAA;
}

button.primary {
  background-color: rgb(196, 46, 45);
}

button.primary:hover {
  background-color: rgb(226, 76, 75);
}

.fa {
  cursor: pointer;
}

.fa.right {
  float: right;
  margin-left: 5px;
}

.fa:hover {
  color: #44AFDB;
}

.fill-page {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px !important;
  width: 100% !important;
  height: 100% !important;
}

.error {
  color: red;
  font-size: smaller;
}

.notification-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;

}

.notification {
  display: table;
  background-color: #ededed;
  text-align: center;
  width: 300px;
  min-height: 200px;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 25%;
  margin-left: -100px;
  margin-top: -50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);

}

.notification span {
  display: table-cell;
  vertical-align: middle;
}

.notification textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
}

.notification .button-container {
  float: right;
}

.notification .button-container button {
  margin: 5px;
}

.notification-background {
  background-color: black;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  opacity: .5;
}


/* Clearfix from HTML5 Boilerplate*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

