<div class="notification-container" ng-if="notification._data.message">
  <div class="notification-background" ng-click="notification.dismiss()"></div>
  <div class="notification" ng-switch="notification._data.prompt">
    <div ng-switch-when="true">
      <span ng-bind-html="notification._data.message"></span>
      <textarea ng-model="notification._data.value"></textarea>
      <div class="button-container" ng-if="notification._data.buttons">
        <button ng-repeat="button in notification._data.buttons" ng-class="{primary: button.primary}" ng-click="button.callback(notification._data.value)" ng-bind="button.text"></button>
      </div>
    </div>
    <span ng-switch-default ng-bind-html="notification._data.message"></span>
  </div>
</div>